@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans-Regular'),
        url(libs/fonts/open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.woff) format('woff'),
        url(libs/fonts/open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSansSemibold-Regular'),
        url(libs/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.woff) format('woff'),
        url(libs/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Extrabold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Extrabold'), local('OpenSansExtrabold-Regular'),
        url(libs/fonts/open-sans-extrabold_1a2476ed10ccb5b3836ec74c3dc8af9d.woff) format('woff'),
        url(libs/fonts/open-sans-extrabold_1a2476ed10ccb5b3836ec74c3dc8af9d.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url(libs/fonts/open-sans-italic_619479f347f22df1ceafab870b54ec88.woff) format('woff'),
        url(libs/fonts/open-sans-italic_619479f347f22df1ceafab870b54ec88.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Semibold Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Semibold Italic'), local('OpenSansSemibold-Italic'),
        url(libs/fonts/open-sans-semibold-italic_39ff1484b54b3e2d9155a13191170305.woff) format('woff'),
        url(libs/fonts/open-sans-semibold-italic_39ff1484b54b3e2d9155a13191170305.ttf) format('truetype');
}
body{
    font-family: 'Open Sans';
    color: #777777;
    font-size: 13px;
    background-color: #ececec;
}
a{
    text-decoration: none;
    color: #20a8da;
}
.header__logo{    
    padding: 20px 10px;
}
i{
    font-family: 'Open Sans Italic';
}
h2{
    color: #7f8c8d;
    font-size: 30px;
    font-family: 'Open Sans Semibold';
    margin: 0 0 10px 0;
}
h1{
    font-family: 'Open Sans Semibold';
    font-size: 40px;
    color: #26b9e1;
    text-align: center;
    text-transform: uppercase;
}
.open-sans-semibold-italic{
    font-family: Open Sans Semibold Italic;
}
ul,
body{
    margin: 0; 
    padding: 0;   
}
li{
    list-style: none;
}
* {
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.header {
    background: url(img/line.png) repeat-x 0 bottom #a65980;
    padding: 5px 0;
}
.header__main,
.footer__main,
.footer__secondary-content{
    display: flex;    
    justify-content: space-between;   

}
.header__main,
.footer__secondary-content{
    align-items: center;    
}
.footer__main{
    align-items: flex-start;
    flex-wrap: wrap;
}
.header__nav{
    margin-left: auto;
}
.header__menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.header__menu-dropdown-link,
.header__menu-dropdown-title,
.header__menu-link{
    display: block;   
    color:  white;    
    padding: 5px 8px;
    font-size: 14px;
    margin: 0 8px;
    text-transform: uppercase;  
    font-family: 'Open Sans Semibold';  
    cursor: pointer;
    white-space: nowrap;
}
.purple-link{
    background: #b86b99;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #a65980;
}
.header__menu-link-active{
    background: #8b4a6b;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #743e59;
}
.header__menu-item-dropdown:hover .header__menu-dropdown-title,
/*.header__menu-dropdown-title:hover,*/
.blue-link,
.header__menu-link:hover{
    background: #26b9e1;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #20a8da;
}
.purple-link,
.blue-link{
    display: block;
    padding: 15px;
    color: white;    
    text-align: center; 
    font-family: 'Open Sans Semibold';
    text-transform: lowercase;
}

.header__menu-dropdown{
    display: none;
    position: absolute;
    left: 8px;
    top: 43px;
    z-index: 3;
    background: #20a8da;  
    border-radius: 6px;  
}
.header__menu-item-dropdown:hover .header__menu-dropdown-title:after
/*.header__menu-dropdown-title:hover:after*/{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 11px;
    display: block;
    bottom: -14px;
    border: 6px solid;
    border-color: transparent transparent #20a8da transparent;
    z-index: 3;
}
.header__menu-dropdown-link{
    color: white;
    background: #37b1de;
    margin: 5px;
    border-radius: 3px;
    text-transform: none;
    position: relative;
}
.header__menu-dropdown-link:hover{
    background: #a65980;
}
.header__menu-dropdown-title,
.header__menu-item-dropdown{
    position: relative;
}
.header__menu-dropdown-link{
    padding: 5px 8px 5px 28px;
}
.header__menu-dropdown-title{
    padding: 5px 8px 5px 33px;
}
.header__menu-dropdown-link:before,
.header__menu-dropdown-title:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
    background: url(img/menu-arrow.png) no-repeat 0 0;
  }
.header__menu-dropdown-title:before{
    left: 15px;
}
.header__menu-item-dropdown:hover .header__menu-dropdown-title:before
/*.header__menu-dropdown-title:hover:before*/{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 11px;
    left: 13px;
    background: url(img/menu-arrow.png) no-repeat 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} 
.header__menu-item-dropdown:hover .header__menu-dropdown {
    display: block;
}  
.header__search-icon{
    color: white;
    cursor: pointer;
    margin-left: 15px;
}
.footer{
    background: url(img/footer-line.png) repeat-x 0 0 #a65980;    
    padding-top: 45px;
    color: white;
}
.footer__info-block,
.footer__blog-block{
    width: 33%;
}
.footer__menu-item{
    background: url("img/menu-arrow.png") no-repeat 0 center;   
    padding-left: 20px;
}
.footer__menu-link{
    color: white;    
    font-size: 14px;
    display: block;
    padding: 4px 0px;
}
.footer__menu-link:hover{
    text-decoration: underline;
}
/*.footer__menu-link:before {
    content: "\f105";
}*/
.footer__menu-title{
    color: #532c40;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    margin-bottom: 22px;
    display: block;    
}
.footer__blog-bloc-title{    
    text-transform: uppercase;
    font-family: 'Open Sans Extrabold';
}
.footer__blog-bloc-pretitle,
.footer__blog-bloc-title{
    font-size: 20px;
}

.footer_blog-preview-date{
    color: #532c40;
    font-size: 13px;
}
.footer_blog-preview{
    display: flex;
    align-items: start;
    margin-top: 22px;
}
.footer_blog-preview-img{
    margin-right: 20px;
}
.footer_blog-preview-desc{
    margin: 0;
    padding: 0;
}
.footer__info-block-phone,
.footer__info-block-email{
    color: white;    
    font-size: 20px;
}
.modus-versus{
    font-size: 25px;    
    line-height: 25px;
    color: white;   
    white-space: nowrap;
    display: block; 
}
.modus-versus__modus{
    font-size: 30px;
    font-family: 'Open Sans Extrabold';
    text-transform: uppercase;
}
.footer_info-block-desc{
    margin: 25px 0;
}
.footer__secondary{
    background: #955073;
    padding: 10px 0;
    margin-top: 25px;
}
.footer__social-icons{
    margin: 0 5px;
}
.footer__copyright{
    font-size: 12px;
}
.page__top{    
    background: #f3f3f3;
    padding-bottom: 70px;
    padding-top: 25px;
}
.page__main {
    background: url(img/footer-line.png) repeat-x 0 0;
    padding-top: 30px;
    padding-bottom: 50px;
}
.page__banners{
    text-align: center;
    position: relative;
}
.page__banners-img{
    width: 100%;
}
.page__banners-content{
    width: 470px;
    position: absolute;        
    left: 50%;
    margin-left:-235px;
    bottom: 200px;
}
.page__banners-title{
    font-size: 50px;
    font-family: 'Open Sans Extrabold';
    text-transform: uppercase;
    background: #26b9e1;
    border-radius: 6px;
    padding: 0px 10px;
    color: white;    
}
.page__banners-desc{
    background: #161d25c7;
    border-radius: 6px;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
}
.page__services-preblock{
    background: #ececec;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}
.page__services-preblock-info{
    margin-right: 15px;
}
.page__services-preblock-link{
    margin-left: auto;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 40px;
    white-space: nowrap;
}
.page__services-preblock-desc{
    margin: 0;
}
.page__services{
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
}
.page__services-item{
    text-align: center;
    width: 24%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #e5e6e6;
    position: relative;
    padding: 40px 15px 60px;
}
.page__services-title{
    display: block;
    font-family: 'Open Sans Extrabold';
    font-size: 16px;
    color: #7f8c8d;
    text-transform: uppercase;
    margin: 5px 0 25px 0;
}
.page__services-link{
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35%;
    width: 70%;
}
.page__about-us-blocks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
.page__choose-us,
.page__clients-say{
    width: 24%;
}
.page__specifications{
    width: 48%;
}
.page__specifications-text{
    margin: 0;
}
.page__choose-us-title,
.page__clients-say-title{
    color: #7f8c8c;
    font-size: 16px;
    font-family: 'Open Sans Extrabold';
    margin-bottom: 35px;
    display: block;
    text-transform: capitalize;
}
.page__choose-us-item{
    background: url("img/arrow.png") no-repeat 0 5px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.page__clients-say-text{
    background: white;
    padding: 15px;
    border-radius: 5px;
    font-style: italic;
    line-height: 25px;
    margin: 0;
    position: relative;
}
.page__clients-say-text:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 20px; 
	display: block;
    bottom: -48px; 
	border: 24px solid; 
    border-color:white white transparent transparent ; 
}
.page__clients-say-name{
    color: #a65980;
    font-size: 16px;
    font-family: 'Open Sans Semibold';
    display: block;        
    margin: 23px 0 0 83px;
}

/* -- MEDIA styles --*/

@media (max-width: 920px) {
    .header__menu{
        margin: 15px 0px 5px 0;
    }
    .header__menu-link {
        margin: 0 8px 10px 8px;
    }
    .page__banners-content{
        bottom: 70px;
    }   
    .page__top-border{
        margin-bottom: 0;
    }
}
@media (max-width: 800px) {
    .page__top {
        padding-bottom: 0;
    }
    .page__services-item{
        width: 48%;
        margin-bottom: 50px;
    } 
    .page__choose-us{
        order: 2;
    }
    .page__clients-say{
        order: 3;
    }
    .page__choose-us,    
    .page__clients-say{        
        width: 48%;
    }
    .page__specifications{
        order: 1;
        width: 100%;
        margin-bottom: 50px;
    }
 
    .footer__main{
        justify-content: flex-start;
    }
    .footer__info-block{
        width: 49%;
        margin-right: 40px;
    }
    .footer__menu-wrapper{
        width: 22%;
    }
    .footer__blog-block {
        width: 100%;
        margin-top: 30px;
    }  
}

@media (max-width: 650px) {
    .header__main, .header__menu{
        flex-direction: column;  
        align-items: center;      
    }
    .header__main{
        padding-bottom: 20px;
    }
    .header__nav{
        margin: 0;
    }
    .header__menu{
        margin: 0;
    }
    .header__search-icon{
        margin: 0;
    }  
    .page__services-preblock {
        flex-direction: column;
        align-items: baseline;
    }      
    .page__services-preblock-link{
        margin: 15px 0 0 0;
    }
    .page__services-item,
    .page__choose-us,    
    .page__clients-say{                
        width: 100%;        
    }  
    .page__specifications,
    .page__choose-us,    
    .page__clients-say{
        margin-bottom: 30px;
    }
    .page__choose-us-title, .page__clients-say-title{
        margin-bottom: 10px;
    }
    .footer__info-block{
        width: 100%; 
        margin: 0 0 30px 0;       
    }
    .footer__menu-wrapper{
        width: 50%;
    }
}
@media (max-width: 500px) {
    .page__banners-content {
        bottom: 15px;
        width: 350px;
        margin-left: -175px;
    }
    .page__banners-title{
        font-size: 35px;
    }
}
@media (max-width: 375px) {
    .page__banners-content {
        bottom: 5px;
        width: 330px;
        margin-left: -165px;
    }
    .page__banners-title{
        font-size: 28px;
    }
}