@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSansSemibold-Regular'),
        url(libs/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.woff) format('woff'),
        url(libs/fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.ttf) format('truetype');
}

a{
    text-decoration: none;
}
ul,
body{
    margin: 0; 
    padding: 0;   
}
li{
    list-style: none;
}
* {
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header {
    background: url(img/line.png) repeat-x 0 bottom #a65980;
}
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav{
    margin-left: auto;
}
.header__menu{
    display: flex;
}
.header__menu-link{
    display: block;   
    color:  white;    
    padding: 5px 8px;
    font-size: 14px;
    margin: 0 8px;
    text-transform: uppercase;
    font-family: 'Open Sans Semibold';
}
.header__menu-link-active{
    background: #8b4a6b;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #743e59;
}
.header__menu-link:hover{
    background: #26b9e1;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0 #20a8da;
}
    
.header__search-icon{
    color: white;
    cursor: pointer;
    margin-left: 15px;
}
